<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{CONFIG.site.description}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{CONFIG.site.name}}">
    <meta property="og:site_name" content="{{CONFIG.site.name}}" />
    <meta property="og:description" content="{{CONFIG.site.description}}">
    <meta property="og:image" content="/public/img/logo.png">
    <meta name="msapplication-TileColor" content="{{CONFIG.site.color}}">
    <meta name="theme-color" content="{{CONFIG.site.color}}">
    <title>{{CONFIG.site.name}}{{#if subtitle}} | {{subTitle}}{{/if}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    {{#if css}}
        <link rel="stylesheet" type="text/css" href="/public/css/{{css}}.css">
    {{/if}}
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png"/>
</head>
<body>
    <script type="text/javascript" src="/public/js/sentry.min.js"></script>

    {{>navbar}}

    {{{body}}}

    {{>footer}}

    <script type="text/javascript" src="/public/js/mainlayout.min.js"></script>
    {{#unless CONFIG.site.isProduction}}
    <script src="//localhost:35729/livereload.js"></script>
    {{/unless}}

</body>
</html>